<app-Titulo></app-Titulo>

<div class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2">Filtro</label>
    <input type="text"
    class="form-control mr-2"
    placeholder="buscar" [(ngModel)]="filtrosLista">
    <button class="btn btn-outline-success">Buscar</button>
  </div>
</div>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th><button type="button"
                  class="btn btn-outline-light btn-sm"
                  (click)="alterarImagem()">
                  <i class="{{exibirImagem ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>
                  {{exibirImagem ? 'Exibir' : 'Ocultar'}}
                </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Participantes</th>
      <th>Lote</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <img [collapse]="exibirImagem" [isAnimated]="true"
          src="/assets/{{evento.imageUrl}}"
          width="150px">
      </td>
      <td>{{evento.id}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento | DateTimeFormatPipe}}</td>
      <td>{{evento.quantidadePessoas}}</td>
      <td>{{evento.lotes[0].nome}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm mr-2" tooltip="Editar">
          <i class="fa-solid fa-file-pen"></i>
        </button>
        <button type="button" class="btn btn-danger btn-sm" tooltip="Excluir" (click)="openModal(template)">
          <i class="fa-solid fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td>
        <h4 colspan = "8" class="text-center">
          Nenhum evento encontrado
        </h4>
      </td>
    </tr>
  </tfoot>
</table>

<!-- Html para exibir o modal -->
<ng-template #template>
  <div class="modal-body text-center">
    <p>Você confirma a exclusão do evento?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>
